body {
  display: flex;
}
<<<<<<< HEAD

h1 {
  color: black;
  font-size: 12px;
}

h2 {
  color: #cecece;
  background-color: #333;
  text-align: center;
}
=======
>>>>>>> a8c9f4634a15fb6eeaf634efbad119620b1674d7
